@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  font-style: normal;
  src: local('Nunito'), url('~assets/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight:700;
  font-style: bold;
  src:  local('Nunito-Bold'), url('~assets/fonts/Nunito/Nunito-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSerif-bold';
  font-weight: 700;
  font-style: bold;
  src: local('NotoSerif-Bold'), url('~assets/fonts/Noto_Serif/notoserif-bold-webfont.woff') format('web open font format');
}

@font-face {
  font-family: 'NotoSerif-regular';
  font-weight: 400;
  font-style: normal;
  src: local('NotoSerif-Regular'), url('~assets/fonts/Noto_Serif/notoserif-regular-webfont.woff') format('web open font format');
}

// Font SCSS Variables

$font-serif--regular: "Noto Serif-regular", "Lucida Bright", "Times New Roman", serif;
$font-serif--bold: "Noto Serif-bold", "Lucida Bright", "Times New Roman", serif;
$font-sans: "Nunito", sans-serif;

//Global

body, html {
  font-family: $font-sans;
  font-weight: 400;
  font-style: normal;
  color: var(--dark);
}

.display-font {
  font-family: $font-serif--regular;
  font-style: normal;
  font-weight: 400;
}

.header-serif {
  font-family: $font-sans;
  font-weight: 700;
  font-style: bold;
}

h1 {
  font-family: $font-serif--bold;
}
